{% trans_default_domain 'app' %}

<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <title>{{ t('Welcome to productdigitalpass', domain = 'messages')|trans }}!</title>
</head>
<body>
<h1>{{ t('Successful registration', domain = 'messages')|trans }}</h1>
<p>{{ t('Welcome message', domain = 'messages')|trans }}!</p>
</body>
</html>
